@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset Styles */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
body {
  margin: 0;
  line-height: inherit;
  @apply bg-ter text-textd font-ffont m-0;
}
hr {
  height: 1px;
  color: inherit;
  background-color: currentColor;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#mitglieder .slick-prev::before,
#mitglieder .slick-next::before {
  color: #ffffff;
  font-size: 30px;
  opacity: 0.7;
  padding: 200px 10px;
}

#mitglieder .slick-prev {
  left: -1px;
  z-index: 20;
}

#mitglieder .slick-next {
  right: 35px;
  z-index: 20;
}

#mitglieder .slick-prev:hover::before,
#mitglieder .slick-next:hover::before {
  color: #ffffff;
  opacity: 1;
}
